.header {
  width: 100%;
  overflow: hidden;
}

.about {
  height: 80vh;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.about h2 {
  text-align: center;
}

.contact-info {
  text-align: center;
  margin-left: 16%;
  font-size: 23px;
  padding: 2em;
}

.contact-info li{
  list-style-type: none;
}

.menu {
  background: #fff;
}

.menu h2 {
  text-align: center;
  font-size: 8em;
  color: #000;
}

.menu hr {
  border: 1px solid #168B81;
}

.maps {
  height: 80vh;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.navbar a {
  position: fixed;
  left:-85px;
  transition: 0.4s;
  padding: 15px;
  width: 110px;
  font-size: 20px;
  z-index: 2;
  border-radius: 0 5px 5px 0;
  border: 1px solid white;
  text-decoration: none;
  cursor: pointer;
 
}

.navbar a:hover {
  left:0;
}

#about {
  top: 30%;
  color: white;
  background-color: #168B81;
}

#photos {
  top: 37%;
  color: white;
  background-color: #168B81;
}

#menu {
  top: 44%;
  color: white;
  background-color: #168B81;
}

#maps {
  top: 51%;
  color: white;
  background-color: #168B81;
}

#contact {
  top: 58%;
  color: white;
  background-color: #168B81;
}
